name: Metrics
on:
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: ashinbabu
          
          # Debugging: Only generate the header for now
          base: header
          
          committer_branch: metrics
          committer_message: "chore: update metrics"
